@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
   
    
}

body{
    background-color: darkslateblue;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;

}
.container{
    background-color: white;
    width:400px;
    overflow:hidden;
    border-radius: 5px;
}

.header{
    background-color: #f7f7f7;
}
.header h2{
    padding: 20px;
    text-align:center;
}

.form{
    padding: 20px 30px;
}

.form-control{
    margin-bottom:10px;
    padding-bottom: 20px;
    position:relative;
}

.form-control label{
   display:block;
   padding:5px;
}

.form-control input{
    display:block;
    width:100%;
    padding:10px;
    border-radius:5px;
    border: 2px solid #f0f0f0;
    outline:none;

 }
 .form-control i{
     position:absolute;
     right:10px;
     top:40px;
     visibility: hidden;
 }

 .form-control small{
     position:absolute;
     left:0;
     visibility: hidden;
     margin-top: 5px;
 }

 .form button{
     display:block;
     width:100%;
     background-color: darkslateblue;
     color:white;
     padding:10px;
     border-radius:5px;

     outline:none;
     border:none;
 }

 .form-control.success input{
     border-color: rgb(10, 197, 10);

 }
 .form-control.error input{
    border-color: red;

}

 .form-control.success .fa-check-circle{
     visibility: visible;
     color:rgb(10, 197, 10);
 }

 .form-control.error .fa-exclamation-circle{
    visibility: visible;
    color:red;
 }

 .form-control.error small{
     color:red;
     visibility: visible;
 }

